@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BEBASNEUE BOLD_1.OTF");
    font-weight: 700;
}
@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BEBASNEUE BOOK_0.TTF");
    font-weight: 400;
}
@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BEBASNEUE REGULAR_0.TTF");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoBold.woff");
    font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v16-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v16-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('../fonts/roboto-condensed-v14-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v14-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../fonts/roboto-condensed-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-condensed-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: MYRIADPRO;
    src: url("../fonts/MYRIADPRO-COND.OTF");
    font-weight: 400;
}
@font-face {
    font-family: MYRIADPRO;
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
    font-weight: 500;
}
@font-face {
    font-family: MYRIADPROCOND;
    src: url("../fonts/MYRIADPRO-BOLDCOND.OTF");
    font-weight: 700;
}
