$bebasNeue: BebasNeue, sans-serif;
$roboto: Roboto, sans-serif;
$robotoCond: 'Roboto Condensed', sans-serif;
$myriad: MYRIADPRO, sans-serif;
$myriadCond: MYRIADPROCOND, sans-serif;


$blue: #4876c3;
$dark: #102842;
